<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <div class="container min-vh-100 py-5 text-start">

        <section>
            <form method="post" th:action="@{/account/register}" th:object="${userDTO}">
                <div class="form-group col-4">
                    <label for="email">E-mail</label>
                    <p><input id="email" name="email" th:field="*{email}" class="form-control"/></p>
                    <small class="text-danger" th:errors="*{email}"></small>
                </div>
                <div class="form-group col-4">
                    <label for="password">Heslo</label>
                    <p><input id="password" name="password" type="password" th:field="*{password}" class="form-control"/></p>
                    <small class="text-danger" th:errors="*{password}"></small>
                </div>
                <div class="form-group col-4">
                    <label for="confirm-password">Potvrzení hesla</label>
                    <p><input id="confirm-password" name="password" type="password" th:field="*{confirmPassword}" class="form-control"/></p>
                    <small class="text-danger" th:errors="*{confirmPassword}"></small>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-dark rounded-0">Registrovat</button>
                </div>
            </form>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>